html {
  background: #fff;
}

a {
	color: blue;
}

.footer a {
	font-weight: bold;
	color: rgb(83, 83, 83);
	font-size: 12px;
}

.panel {
	margin-bottom: 0;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.ghost {
	color: #c0c0c0;
}

.selected {
	background-color: #FFFFFF !important;
}

.discussion .footer {
	background-color: #c0c0c0;
}
