html {
  background: #fff;
}

a {
	color: blue;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.ghost {
	color: #c0c0c0;
}

.selected {
	background-color: #FFFFFF !important;
}
