@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
body {
	font-family: 'Open Sans', sans-serif;
}

body p {
	font-style: italic;
	font-weight: 300; /* You specify the number you see next to the fonts to change from light to bold ie you would put 700 etc. etc. */
}
html {
	background: #fff;
}

a {
	color: blue;
}

.footer a {
	font-weight: bold;
	color: rgb(83, 83, 83);
	font-size: 12px;
	display: block;
}

.panel {
	margin: 5px;
	border-radius: 0px;
}

.discussion .panel-footer {
	background-color: #ffffff;
	color: #c0c0c0;
	padding: 0 15px 10px 15px;
}

.discussion .share {
	top: -3px;
	display: inline-block;
	position: relative;
}

.discussion .comment {
	top: -3px;
	left: 5px;
	display: inline-block;
	position: relative;
}

.discussion .fa-circle {
	color: #FF935F;
}

.comment-form {
	margin: 0 5px;
}

.backfaceVisibility {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

.ghost.remind {
	color: #c0c0c0;
	opacity: 0.6 !important;
}

.entry {
	background-color: #FF935F;
	color: #ffffff;
	line-height: 25px;
}

.continuous {
	background: #ffffff;
	color: #ec2d35;
	border: solid 2px #ec2d35;
	border-radius: 4px;
}

.repeat {
	background: #FC3F28;
	color: #ffffff;
}

.remind {
	background: #C83A6E;
	color: #ffffff;
}

.entry .help {
	font-size: 10px;
	text-transform: uppercase;
	color: #cccccc;
	opacity: 0.8;
	margin-top: -15px;
	margin-left: -7px;
	line-height: 10px;
	padding: 5px 0;
}

.blur {
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
	opacity: 0.4;
	border: 0px;
}

.entry-form-buttons .fa {
	font-size: 30px;
	margin-left: 7px;
	color: white;
}

.selected {
	background-color: #FFFFFF !important;
}

.discussion .footer {
	/*background-color: #c0c0c0;*/
	/*border-top: 1px solid #c0c0c0;*/
}

.other-links {
	color: inherit;
	text-decoration: none;
}

.login-form {
	margin-top: 10px;
}

.progress-first {
	float: left;
	margin-right: 10px;
	margin-left: 15px;
}

.progress-second {
	float: left;
	margin-left: 15%;
}

.progress-third {
	float: left;
	margin-right: 15px;
}

#progressBar {
	width: 100%;
}

.float-left {
	float: left;
}

.day {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

.month-date {
	font-size: 22px;
	font-weight: bold;
}

.select-date .fa-chevron-down {
	position: relative;
	top: -31px;
	float: right;
	left: 10px;
}

.close-discussion {
	font-size: 1.5em;
	padding: 2px;
}

.close-discussion .fa {
	padding: 5px;
}

.cancel-post {
	padding-right: 25px;
}

.submit-post {
	padding-left: 25px;
}

.post-area {
	height: 300px;
}

.post {
	float: right;
	/* margin-right: 20px; */
	position: relative;
	left: -20px;
	top: 7px;
}

.discussion-post-form {
	margin: 0 10px;
}

.df-gutter {
	padding: 15px;
}

.df-gutter-left {
	padding-left: 15px;
}

.df-gutter-right {
	padding-right: 15px;
}

.df-gutter-top {
	padding-top: 15px;
}

.df-gutter-bottom {
	padding-bottom: 15px;
}

.df-gutter-vertical {
	padding-top: 15px;
	padding-bottom: 15px;
}

.df-gutter-horizontal {
	padding-left: 15px;
	padding-right: 15px;
}

.gutter-hr {
	border-color: inherit;
	margin-bottom: 10px;
	margin-top: 10px;
}

button.close {
	padding: 5px;
}

@media screen and (max-width: 768px) {
	.header-login {
		border-left: 600px solid transparent;
	}
}

@media screen and (max-width: 768px) {
	.logo-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 120px;
	}
}

@media screen and (max-width: 768px) {
	.footer-login {
		border-left: 800px solid #c04f7f;
	}
}
.entry-input-surface .input-group-addon {
	background: #ffffff;
	border-color: #ffffff;
	border-right: 0px;
	color:    #C04F7F;
	padding-right: 0px;
}

.entry-input-surface.input-group input, .entry-input-surface.input-group .form-control {
	height: 40px;
	border-left: 0;
	color:    #C04F7F;
	-webkit-box-shadow: inset 0 0 0 0 !important;
	box-shadow: inset 0 0 0 0 !important;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	border-color: #ffffff;
	line-height: 25px;
	font-size: 13px;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #FC3F28 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:     #FC3F28 !important;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #FC3F28 !important;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #FC3F28 !important;
}

/* individual: webkit */
#entry-description::-webkit-input-placeholder { color:#C04F7F !important; }

/* individual: mozilla */
#entry-description::-moz-placeholder { color:#C04F7F !important;}

/*HOME*/

.home {
	color: #FC3F28;
	text-align: right;
}

.home .text  {
	padding-top: 0;
}

.home ul {
	list-style: none;
	font-size: 19px;
	font-weight: lighter;
}

.home h1 {
	font-size: 24px;
	margin-top: 11.02%;
}

.home .buttons {
	margin-top: 55%;
	margin-right: 3%;
}

.home-buttons .btn {
	width: 135px;
	height: 45px;
	background-color: #ffffff;
	color: #c04f7f;
	font-size: 19px;
	margin-right: 10px;
}

.not-loggedin .form-control {
	height: 50px;
	border: 1px solid #FC3F28;
	color: #FC3F28; 
}

.not-loggedin {
	margin: 0 20px;
	font-size: 18px;
}

.not-loggedin .btn {
	background: #FC3F28;
	color: white;
	width: 100%;
	height: 50px;
	font-size: 18px;
}

.not-loggedin .form-group {
	margin-bottom: 5px;
}

.help-password {
	font-style: italic;
	font-weight: lighter;
	color: #5d5d5d;
	width: 280px;
	margin: 20px auto 40px auto;
	font-size: 17px;
	text-align: center;
}

.fa-thumb-tack {
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	transform: rotate(-45deg);
	float: left;
}

/*Context Menu*/
.context-menu {
	list-style: none;
	margin: 120px auto !important;
	min-width: 150px;
	max-width: 290px;
	-webkit-margin-before: 0;
	-webkit-padding-start: 0;
	background: white;
	text-align: center;
	color: rgb(232, 56, 56);
}

.context-menu li {
	display: block;
	min-width: 150px;
	font-size: 17px;
	padding: 17px;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

input {
	-webkit-user-select: auto !important;
}
