.icon {
	display: inline-block;
	background-size: auto 44px;
}

.icon-xs {
	background-image: url('../content/images/m-icons.png');
	background-size: 300px auto;
	display: inline-block;
}

.icon-track {
	background-image: url('../content/images/icon-track.png');
}

.icon-track.active {
	background-image: url('../content/images/icon-track-active.png');
}

.icon-signals {
	background-image: url('../content/images/icon-signal.png');
}


.icon-signals.active {
	background-image: url('../content/images/icon-signal-active.png');
}

.icon-chart {
	background-image: url('../content/images/icon-chart.png');
}

.icon-chart.active {
	background-image: url('../content/images/icon-chart-active.png');
}

.icon-feed {
	background-image: url('../content/images/icon-feed.png');
}

.icon-feed.active {
	background-image: url('../content/images/icon-feed-active.png');
}

.icon-search {
	background-image: url('../content/images/icon-search.png');
}

.icon-search.active {
	background-image: url('../content/images/icon-search-active.png');
}


.icon-comment {
	width: 33px;
	height: 26px;
	background-position: 384px -570px;
}

.icon-comment-xs {
	width: 21px;
	height: 16px;
	background-position: 256px 20px;
	margin-top: 11px;
}

.icon-share {
	width: 25px;
	height: 32px;
	background-position: 441px -564px;
}

.icon-share-xs {
	width: 17px;
	height: 20px;
	background-position: 294px 23px;
	margin-top: 9px;
	overflow: visible;
}
