<div class="help-wizard">
	<div class="skip">
		<img src="content/images/tutorials/skip.png" alt="skip" width="35">
	</div>
	<h3>Let's get started with three painless questions.</h3>
	<p class="sub-heading">
		They'll help illustrate the Curious tracking feature.
	</p>
	<hr>
	<h3 class="questions">
		How many hours did you sleep last night?
	</h3>
	<p>Example:<br> sleep 8 hours 10 mins<br>sleep 7.5 hours</p>
	<div class="input-group tutorial-input-surface">
		<span class="input-group-addon">
			sleep <span id="sleep-cursor" class="blinking-cursor blinking-cursor-solid">|</span>
		</span>
		<input type="text" id="sleep-hour" class="form-control" placeholder="8 hours 10 mins">
	</div>
</div>
