<div class="help-wizard">
	<div class="skip">
		<img src="content/images/tutorials/skip.png" alt="skip" width="35">
	</div>
	<div class="range-box active">
		<h3 class="questions mood-question">How's your mood right now?</h3>
		<div class="mood-image">
			<img src="content/images/tutorials/mood.png" alt="mood" width="100%">
		</div>
		<p>Example:<br>mood 7</p>
		<div class="input-group tutorial-input-surface">
			<span class="input-group-addon">
				<span class="{{= userAgent }}-addon-label">mood </span>
				<span id="mood-cursor" class="blinking-cursor {{= userAgent }}-cursor blinking-cursor-solid">|</span>
			</span>
			<input type="number" min=1 max=10 id="mood-box" class="form-control" placeholder="7"/>
		</div>
	</div>
</div>
