<div class="help-wizard">
	<h4>Let's get started with three painless questions.</h4>
	<p class="sub-heading">
		These will help illustrate the Curious tracking feature.
	</p>
	<hr>
	<h3 class="questions">
		How many hours did you sleep last night?
	</h3>
	<input type="text" id="sleep-hour" placeholder="e.g. 8 hours 10 minutes or 8hrs 10 mins">
	<h4 class="entry-label"><span id="sleep-entry-label"></span></h4>
	<input type="hidden" name="entry.0" id="sleep-hour-entry">
	<div class="navigators">
		<label class="skip-label">
			Skip Rest of Tutorial
		</label>
		<label class="back-label">
			Back
		</label>
		<button class="next-question" type="button">NEXT (5 OF 7)</button>
	</div>
</div>
