<div class="help-wizard exercise-questions">
	<img src="content/images/tutorials/skip.png" alt="skip" class="skip" width="35">
	<h3 class="questions">What have you done today?</h3>
	<label for="cardio">
		DRINK
	</label>
	<input type="text" class="exercise-details" name="entry.2" id="cardio" value="coffee 1 cup 8am">
	<label for="resistance">
		EXERCISE
	</label>
	<input type="text" class="exercise-details" name="entry.3" id="resistance" value="walk 9500 steps">
	<label for="stretch">
		WORK
	</label>
	<input type="text" class="exercise-details" name="entry.4" id="stretch" value="work 7 hours 30 minutes">
	<label for="metabolic">
		SUPPLEMENTS
	</label>
	<input type="text" class="exercise-details" name="entry.5" id="metabolic" value="vitamin c 200 mg ">
</div>
