<div class="help-wizard">
	<div class="skip">
		<img src="content/images/tutorials/skip.png" alt="skip" width="35">
	</div>
	<div class="range-box active">
		<h3 class="questions mood-question">How's your mood right now?</h3>
		<div class="mood-image">
			<img src="content/images/tutorials/mood.png" alt="mood" width="100%">
		</div>
		<p>Example:<br>mood 7</p>
		<input type="text" id="mood-box" placeholder="mood 7"/>
		<h4 class="entry-label"><span id="mood-entry-label"></span></h4>
	</div>
</div>
