<div class="help-wizard intro">
	<div class="intro-content">
		<h4>
			<b>Chart</b> your tags to look for patterns or jog your memory. Examine the <b>curiosities</b> our algorithms find within your data.
			<b>Share</b> your charts with others. Start, or join <b>discussions</b> using our <b>social</b> features.
		</h4>
	</div>
	<div class="intro-content">
		<h4>
			Try tracking in a more structured way using <b>trackathons</b>--by yourself or with others.
		</h4>
	</div>
	<div class="navigators">
		<label class="skip-label skip-intro">
			Skip Introduction
		</label>
		<label class="back-label">
			Back
		</label>
		<button class="next-question" type="button">NEXT (3 OF 3)</button>
	</div>
</div>
