<div class="help-wizard intro">
	<div class="questions">
		<img src="content/images/logo-long-white-font.png" width="300" height="45">
	</div>
	<hr>
	<div class="intro-content">
		<h5>
			Welcome to
		</h5>
		<h3>
			We Are Curious!
		</h3><br>
		<h4>
			We Are Curious helps you investigate <b>questions</b> about yourself.<br>
			For example,
			<ul>
				<li>Does caffeine affect my sleep?</li>
				<li>Does exercise really affect my mood?</li>
			</ul>
		</h4>
		<button class="close-button" type="button">Close</button>
		<button class="next-question next-button" type="button">Next</button>
	</div>
</div>