<div class="help-wizard intro">
	<div class="skip">
		<img src="content/images/tutorials/skip.png" alt="skip" width="35">
	</div>
	<div class="intro-content">
		<div class="title">
			Welcome to <b>precise.ly</b> <h5><i>where you can...</i></h5>
		</div>
		<div class="content-title">
			TRACK
		</div>
		<p>Log bits of life as <b>TAGS</b></p>
		<img src="content/images/tutorials/track.png" alt="entries" width="70%">
		<br>
		<br>
		<div class="content-title">
			CHART
		</div>
		<p>Look for patterns in your data with our chart feature.</p>
		<img src="content/images/tutorials/chart.png" alt="entries" width="100%">
	</div>
</div>
