<div class="help-wizard intro">
	<img src="content/images/tutorials/skip.png" alt="skip" class="skip" width="35">
	<div class="intro-content">
		<div class="title">
			Experiment with
		</div>
		<div class="content-title">
			TRACKATHONS
		</div>
		<p>Conduct highly personalized experiments with our TRACKATHON feature.</p>
		<img src="content/images/tutorials/trackathons.png" alt="entries" width="100%">
		<br>
		<br>
		<div class="content-title">
			DEVICE INTEGRATON
		</div>
		<p>Add access to your device data <br>to your Curious account</p>
		<img src="content/images/tutorials/devices.png" alt="entries" width="100%">
		<br>
		<br>
		<div class="content-title">
			SOCIAL
		</div>
		<p>Make connections and share results, trackathons, charts and more.</p>
		<img src="content/images/tutorials/social.png" alt="entries" width="100%">
	</div>
</div>
