<div class="help-wizard intro">
	<div class="intro-content">
		<h4>
			<b>Track</b> bits of your life for a few days or weeks using <b>tags</b> based on your questions. For
			instance,
			you could track your <b><i>mood</i></b>, how much <b><i>sleep</i></b> you get, the <b><i>coffee</i></b> you
			drink, and the <b><i>steps</i></b> you take.
			You can track automatically using <b>devices</b> such as the Oura ring (via your user profile).
		</h4>
	</div>
	<div class="navigators">
		<label class="skip-label skip-intro">
			Skip Introduction
		</label>
		<label class="back-label">
			Back
		</label>
		<button class="next-question" type="button">NEXT (2 OF 3)</button>
	</div>
</div>
