<div class="circle-icons-row">
	<div class="input-circle" id="c0-level">
		<img src="content/images/widgets/0_power.png" id="0-power">
	</div>

	<div class="input-circle" id="c1-level">
		<img src="content/images/widgets/0_power.png" id="1-power">
	</div>

	<div class="input-circle" id="c2-level">
		<img src="content/images/widgets/0_power.png" id="2-power">
	</div>

	<div class="input-circle" id="c3-level">
		<img src="content/images/widgets/0_power.png" id="3-power">
	</div>

	<div class="input-circle" id="c4-level">
		<img src="content/images/widgets/0_power.png" id="4-power">
	</div>
</div>