<div class="circle-icons-row level-input-widget">
	<div class="input-circle" id="c0-level-{{- entryId}}">
		<img src="content/images/widgets/0_power@3x.png" id="0-power-{{- entryId}}">
	</div>

	<div class="input-circle" id="c1-level-{{- entryId}}">
		<img src="content/images/widgets/1_power@3x.png" id="1-power-{{- entryId}}">
	</div>

	<div class="input-circle" id="c2-level-{{- entryId}}">
		<img src="content/images/widgets/2_power@3x.png" id="2-power-{{- entryId}}">
	</div>

	<div class="input-circle" id="c3-level-{{- entryId}}">
		<img src="content/images/widgets/3_power@3x.png" id="3-power-{{- entryId}}">
	</div>

	<div class="input-circle" id="c4-level-{{- entryId}}">
		<img src="content/images/widgets/4_power@3x.png" id="4-power-{{- entryId}}">
	</div>
</div>