<div class="slider-input-row slider-input-widget">
	<div class="slider-input">
		<div class="slider-track">
			<div class="slider-track-unit"></div>
			<div class="slider-track-unit"></div>
			<div class="slider-track-unit"></div>
			<div class="slider-track-unit"></div>
			<div class="slider-track-unit"></div>
		</div>
		<input type="range" step="1" min="0" max="4" defaultValue="0" value="0" id="slider-input-element-{{- entryId}}">
	</div>
	<div class="slider-input-value-box" id="slider-value-{{- entryId}}">0</div>
</div>