<div class="circle-icons-row smile-input-surface">
	<div class="input-circle" id="c1-smile-{{- entryId}}">
		<img src="content/images/widgets/frown@3x.png" id="frown-{{- entryId}}">
	</div>

	<div class="input-circle" id="c2-smile-{{- entryId}}"></div>

	<div class="input-circle" id="c3-smile-{{- entryId}}">
		<img src="content/images/widgets/flat_mouth@3x.png" id="flat-mouth-{{- entryId}}">
	</div>

	<div class="input-circle" id="c4-smile-{{- entryId}}"></div>

	<div class="input-circle" id="c5-smile-{{- entryId}}">
		<img src="content/images/widgets/smile@3x.png" id="smile-{{- entryId}}">
	</div>
</div>