<div class="circle-icons-row smile-input-surface">
	<div class="input-circle {{- c1Class}}" id="c1-smile-{{- entryId}}">
		<img src="content/images/widgets/frown{{- s1Image}}@3x.png" id="frown-{{- entryId}}">
	</div>

	<div class="input-circle {{- c2Class}}" id="c2-smile-{{- entryId}}"></div>

	<div class="input-circle {{- c3Class}}" id="c3-smile-{{- entryId}}">
		<img src="content/images/widgets/flat_mouth{{- s3Image}}@3x.png" id="flat-mouth-{{- entryId}}">
	</div>

	<div class="input-circle {{- c4Class}}" id="c4-smile-{{- entryId}}"></div>

	<div class="input-circle {{- c5Class}}" id="c5-smile-{{- entryId}}">
		<img src="content/images/widgets/smile{{- s5Image}}@3x.png" id="smile-{{- entryId}}">
	</div>
</div>