<div class="circle-icons-row thumbs-up-input-widget">
	<div class="input-circle" id="c1-thumb-{{- entryId}}">
		<span class="fa fa-thumbs-o-down" aria-hidden="true" id="thumbs-down-{{- entryId}}"></span>
	</div>

	<div class="input-circle" id="c2-thumb-{{- entryId}}"></div>
	<div class="input-circle" id="c3-thumb-{{- entryId}}"></div>
	<div class="input-circle" id="c4-thumb-{{- entryId}}"></div>

	<div class="input-circle" id="c5-thumb-{{- entryId}}">
		<span class="fa fa-thumbs-o-up" aria-hidden="true" id="thumbs-up-{{- entryId}}"></span>
	</div>
</div>