<div class="circle-icons-row thumbs-up-input-widget">
	<div class="input-circle {{- c1Class}}" id="c1-thumb-{{- entryId}}">
		<span class="fa fa-thumbs-{{- t1Icon}}" aria-hidden="true" id="thumbs-down-{{- entryId}}"></span>
	</div>

	<div class="input-circle {{- c2Class}}" id="c2-thumb-{{- entryId}}"></div>
	<div class="input-circle {{- c3Class}}" id="c3-thumb-{{- entryId}}"></div>
	<div class="input-circle {{- c4Class}}" id="c4-thumb-{{- entryId}}"></div>

	<div class="input-circle {{- c5Class}}" id="c5-thumb-{{- entryId}}">
		<span class="fa fa-thumbs-{{- t5Icon}}" aria-hidden="true" id="thumbs-up-{{- entryId}}"></span>
	</div>
</div>