<div class="help-container draggable-container">
	<div class="header-bar">
		Add Discussion
	</div>
	<div class="help-body">
		<div class="media">
			<div class="media-left">
				<div class="bullets">1</div>
			</div>
			<div class="media-body">
				Tap the pencil icon.
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<div class="bullets">2</div>
			</div>
			<div class="media-body">
				Type your discussion text, title, and body. Tap POST IT or CANCEL.
			</div>
		</div>
		<div class="text-center">
			<br><br>
			<img src="content/images/help/add_discussion.png" alt="Enter Tags" width="250px">
			<br><br><br><br>
		</div>
	</div>
</div>