<div class="help-container draggable-container">
	<div class="header-bar">
		Format Advanced tags
	</div>
	<div class="help-body">
		<b>Advanced tags</b><br>
        precise.ly supports a number of keywords for text-centric usage.<br><br>
		<b>Keywords:</b><br>
		<div class="row">
			<div class="col-xs-6">start (for durations)</div>
			<div class="col-xs-6">midnight</div>
		</div>
		<div class="row">
			<div class="col-xs-6">stop (for durations)</div>
			<div class="col-xs-6">repeat</div>
		</div>
		<div class="row">
			<div class="col-xs-6">begin (for durations)</div>
			<div class="col-xs-6">remind (for creating an alert)</div>
		</div>
		<div class="row">
			<div class="col-xs-6">end</div>
			<div class="col-xs-6">bookmark (for creating a bookmark)</div>
		</div>
		<div class="row">
			<div class="col-xs-6">noon</div>
			<div class="col-xs-6">pinned (for creating a bookmark)</div>
		</div>
		<div class="row">
			<div class="col-xs-6">walk</div>
			<div class="col-xs-6">button (for creating a bookmark)</div>
		</div>
		</table><br><br>
		<b>Comments</b><br>
		Place tag comments at the end of a tag entry<br><br>
		<b>Examples:</b><br>
		sleep 8 hours (really great)<br>
		indigestion 7am (egads, the buffet, a mistake)<br>
		cardio 30 min (cross-training)<br><br>
		<b>Multi-dimensional</b><br><br>
		<b>Examples:</b><br>
		resistance 4 intensity 32 minutes<br>
		meditation 2 effectiveness 30 minutes<br>
		box 3 inches width 2 inches height 5 inches depth<br><br>
		<b>Durations</b><br><br>
		<b>Examples:</b><br>
		sleep start 8pm<br>
		sleep stop 5am<br><br>
		Creating a duration currrently produces a tag that calculates the duration, much like a stopwatch.
		Tracking with sleep start and stop tags, in the examples above, would produce this tag: <i>sleep 9 hours.</i>
	</div>
</div>
