<div class="graphData">
    <div id="plotArea" class="full-width ui-droppable table" style="height: 100%; padding: 0px; position: relative;">
        <div id="drag-here-msg" class="table-cell align-middle">
            GRAPH AREA
        </div>
    </div>
    <div id="height-balancer"></div>
    <div class="main querycontrols">
        <div class="calendarRange">
            <div class="zoomline">
                <div id="zoomcontrol1" class=""></div>
            </div>
            <div class="dateline row">
                <div class="col-xs-4">
                    <div class="startDate">
                        <input id="startdatepicker1" type="text" value="" class="startdatepicker cycleInput hasDatepicker" style="color: rgb(204, 204, 204);">
                    </div>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                    <div class="endDate">
                        <input id="enddatepicker1" type="text" value="" class="enddatepicker cycleInput hasDatepicker" style="color: rgb(204, 204, 204);">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
