<div class="help-container draggable-container">
	<div class="header-bar">
		Create a tracking tag
	</div>
	<div class="help-body">
		<div class="media">
			<div class="media-left">
				<div class="bullets">1</div>
			</div>
			<div class="media-body">
				Enter your tag in the text box at the top of the screen.
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<div class="bullets pull-left">2</div>
			</div>
			<div class="media-body">
				Example tags:<br> <span style="font-weight: 600;">migraine 5 7:14am (is it my pillow?)<br>
				run 34 min 9am (really humid today)</span><br><br>
				FORMAT:<br>[tag][amount*][unit*][timestamp*][(comment)*][repeat remind button*]<br>*optional
			</div>
		</div>
		<div class="text-center">
			<img src="content/images/help/enter-tag.png" alt="Enter Tags" width=280px">
			<br>
			<p>**Make sure you're on the 'Track' tab**</p>
			<br><br>
			Type your tag in the box provided above, and then set repeat and alerts, or bookmark.
			<br><br>
			<img src="content/images/help/tag-buttons.png" alt="Tag Modifiers" width="250px">
			<br><br>
			See <b onclick="App.pageView.changePage('AdvancedTagsView')">Advanced Tracking</b> for more information about how to make repeat, alert and bookmark tags, s well as setting a repeat frequency, and an end date.
		</div>
	</div>
</div>
