<div class="help-container draggable-container">
	<div class="header-bar">
		Create Experiment
	</div>
	<div class="help-body">
		<h4>First, what is an experiment?</h4>
		An experiment is a set of tags that are tracked for a set
		length of time. You can invite others to your experiment
		to compare results or go it alone. An experiment is best
		driven bya research question<br><br>
		<h4>Example Experiment:</h4>
		Does acupuncture affect sleep? Let's find out.
		<BR>
		4 weeks without acupuncture to baseline. 2
		months with acupuncture three days per week.
		<br>
		<H5>Length:</H5>
		12 Weeks<br>
		<h5>Tags:</h5>
		acupuncture, sleep, cardio, caffeine, alcohol
		<hr>
		An experiment can be inspired by a question or it can
		be some type of training regimen or anything you
		find interesting.
		<br><br>
		<h4>Example Experiment:</h4>
		Training for a 5K by incorporating cross-training 3
		days per week.
		<h5>Length:</h5>
		8 Weeks
		<h5>Tags:</h5>
		regular run (2-4 miles), cross-train, rest day,long
		run (5-8 miles), weekly mileage,best time for the
		week
		<hr style="margin: 30px 0px;">
		<div class="media">
			<div class="media-left">
				<div class="bullets">1</div>
			</div>
			<div class="media-body">
				To create a experiment, make sure you are in EXPERIMENTS
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<div class="bullets">2</div>
			</div>
			<div class="media-body">
				Tap the pencil icon
			</div>
		</div>
		<div class="text-center">
			<br><br>
			<img src="content/images/help/create-sprint.png" alt="Enter Tags" width="250px">
			<br><br><br><br>
		</div>
	</div>
</div>
