<div align="center">
	<strong style="color:#e83838" class="">CREATE A NEW POST </strong>
</div>
<hr class="gutter-hr">

<div class="row">
	<span class="pull-right cancel-post">CANCEL</span>
	<span class="pull-left submit-post">POST IT</span>
</div>
<hr class="gutter-hr">

<form role="form" class="discussion-post-form" name="postForm">
	<div class="form-group">
		 <input class="form-control"
			placeholder="New question or discussion topic?" type="text"
			name="name" value="" /> 
		<br>
		<textarea rows="14" class="form-control" class="full-width"
			name="discussionPost"></textarea>
	</div>
</form>
