<div id="correlation-template">
	<i class="fa fa-circle"></i>
	<div class="row curiosities-row-container" type="{{= type }}" marked="{{= marked }}" data-id="{{= id }}" score="{{= score }}" style="display: {{display}}">
		<div class="curiosities-name">
			<p class="curiosities-category"> ({{= label }}) </p>
		</div>
		<div class="row curiosities-row curiosities-row-top">
			<div class="col-xs-8 curiosities-description">
				<p>
					Is {{= description1 }} {{= relation_in_english }} {{= description2 }}?
				</p>
			</div>
			<div class="col-xs-4 plot-curiosity-chart">
				<img class="plot-curiosity-chart-image" src="content/images/curiosities/curiosity-chart.png" >
			</div>
		</div>
		<div class="curiosities-row curiosities-row-bottom">
			<div class="curiosities-section-mark-no-or-yes row">
				<div class="col-xs-2" style="padding-left: 0px;">NOISE</div>
				<div class="col-xs-8" style="text-align: center; padding: 0px;">
					<img class="bubble" marked="{{= bubble_0 }}" signal-level="0" src="content/images/curiosities/{{= bubble_0 }}_circle.png?v=4" >
					<img class="bubble" marked="{{= bubble_1 }}" signal-level="1" src="content/images/curiosities/{{= bubble_1 }}_circle.png?v=4" >
					<img class="bubble" marked="{{= bubble_2 }}" signal-level="2" src="content/images/curiosities/{{= bubble_2 }}_circle.png?v=4" >
					<img class="bubble" marked="{{= bubble_3 }}" signal-level="3" src="content/images/curiosities/{{= bubble_3 }}_circle.png?v=4" >
					<img class="bubble" marked="{{= bubble_4 }}" signal-level="4" src="content/images/curiosities/{{= bubble_4 }}_circle.png?v=4" >
				</div>
				<div class="col-xs-2" style="text-align: right; padding: 0px;">
					SIGNAL
				</div>
			</div>
		</div>
	</div>
</div>