<div class="panel panel-default discussion">
	<div class="panel-body">
		<div class="media">
			<div class="media-body">
				<a class="pull-left" href="#">
					<span class="glyphicon glyphicon-user"></span>
				</a>
				<span class="media-heading">{{userName}}</span> 
				{{prettyDate}} &nbsp; &nbsp; &nbsp;
				<br/>
				<strong>{{groupName}}</strong>
				<div class="title">
					{{name}}
				</div>

			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="footer row">
			<div class="col-xs-5">
				Comment <i class="fa fa-comment"></i>
			</div>
			<div class="col-xs-4">
				Share <i class="fa fa-share-alt"></i>
			</div>
			<div class="col-xs-3">
				Join <i class="fa fa-users"></i>
			</div>
		</div>
	</div>
</div>
