
<div class="feed-item">
	<div class="discussion">
		<div class="discussion-topic">
			<div class="contents">
				<div class="row">
					<div class="col-xs-9 discussion-header discussion-post">
						<a href="#">
							<img class="avatar" src="content/images/avatar.png" alt="avatar">
							<span class="user-name"> {{= discussionOwner }}</span>
						</a>
							<span class="posting-time">{{= updated }}</span>
					</div>
					<div class="col-xs-3 discussion-topic-span discussion-header" >
						{{ if (isAdmin) { }}
							<i class="fa fa-times-circle close-discussion""></i>
						{{ } }}
					</div>
				</div>
				<div class="discussion-title">
						<a href="#"> 
							<span> {{= discussionTitle ? discussionTitle : '(No Title)' }}</span>
						</a>
						<p>{{= firstPost.message }}</p>
				</div>
				<hr>
				<div class="text-right buttons">
					<button>
						<img src="content/images/follow.png" alt="follow">Follow
					</button>
					{{ if (isAdmin) {  }}
						<button class="share-button" data-toggle="popover" title="Share:" data-placement="top" 
								data-content="<input class='share-link' type='text' value='{{ location.protocol+'//'+location.hostname+(location.port ? ':' + location.port : '') }}/discussion/show/\'>">
							<img src="content/images/share.png" alt="share">Share
						</button>
					{{ } }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="post-comment">
	<form role="form" class="form-inline comment-form" name="commentForm" onSubmit="return false;">
		<input type="text" id="message" name="message"
				placeholder="Add Comment to this discussion...">
			</span>
	</form>
</div>
