<div class="feed-item">
	<div class="discussion">
		<div class="discussion-topic">
			<div class="contents">
				<div>
					<div class="discussion-header">
						<a href="#" class="discussion-author">
							<img class="left-logo" src="content/images/feed/feed-left.png" alt="avatar">
							<img class="avatar img-circle" src="{{= userAvatarURL ? userAvatarURL : 'content/images/avatar.png' }}" alt="avatar">
							<span class="user-name">{{= userName }} </span>
						</a>
					</div>
					<div class="discussion-topic-span close-discussion">
						{{ if (isAdmin) { }}
							<i class="fa fa-times-circle"></i>
						{{ } }}
					</div>
				</div>
				<div class="discussion-title">
					<a href="#"> 
							<span> {{= name ? name: '(No Title)' }}</span>
						</a>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-3 posting-time"">
						{{= prettyDate }}
					</div>
					<div class="text-right col-xs-9 buttons">
						{{ if (typeof isFollower !== 'undefined') { }}
							{{ if (!isFollower) { }}
								<button class="follow-button">
									<img src="content/images/follow.png" alt="follow"/>
									<span class="footer-label">Follow</span>
								</button>
							{{ } else { }}
								<button class="unfollow-button">
									<img src="content/images/unfollow.png" alt="unfollow"/>
									<span class="footer-label">Unfollow</span>
								</button>
							{{ } }}
						{{ } }}
						{{ if (isAdmin || isPublic) {  }}
							<button class="share-button">
								<img src="content/images/share.png" alt="share"/>
								<span class="footer-label">Share</span>
							</button>
						{{ } }}
						<button>
							{{ if (!totalComments ||	totalComments < 1) {  }}
								<img src="content/images/comment.png" alt="comment" /> 
								<span class="footer-label">Comment</span>
							{{ } else { }}
							<div class="dark-comment comment-button" data-total-comments="{{= totalComments }}">
								{{= totalComments }}</div>
								<span class="footer-label">Comment</span>
							{{ } }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
