<div class="row ">
	<div class="col-md-12">
		<form role="form" class="form-inline comment-form" name="commentForm" onSubmit="return false;">
			<div class="input-group">
				<input type="text" class="form-control" name="message"
				placeholder="Comment"/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default submit-comment"
						type="button"> POST
					</button>
				</span>
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default discussion">
	<div class="close-discussion delete-discussion pull-right">
		<i class="fa fa-times-circle pull-right"></i> 
	</div>
	<div class="panel-body">
		<div class="media">
			<div class="media-body">
				<div class="clearfix">
					<div class="pull-left">
						<i class="fa fa-circle"></i>
						<strong>	<span class="media-heading">{{discussionTitle}}</span> </strong>
					</div>
					<div class="pull-right">
						{{prettyDate}} 
					</div>
				</div>
				<div class="clearfix">
					{{firstPost.message}}
				</div>
			</div>
		</div>
	</div>
</div>

