<div class="feed-item">
	<div class="discussion">
		<div class="discussion-topic">
			<div class="contents">
				<div class="row">
					<div class="col-xs-10 discussion-header">
						<a href="#">
							<img class="avatar" src="content/images/avatar.png" alt="avatar">
							<span class="user-name"> {{= userName }}</span>
						</a>
					</div>
					<div class="col-xs-2 discussion-topic-span discussion-header close-discussion">
						{{ if (isAdmin) { }}
							<i class="fa fa-times-circle"></i>
						{{ } }}
					</div>
				</div>
				<div class="discussion-title">
						<a href="#"> 
							<span> {{= name ? name: '(No Title)' }}</span>
						</a>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-3 posting-time"">
						{{= prettyDate }}
					</div>
					<div class="col-xs-9 buttons">
						{{ if (!isAdmin) { }}
							<button>
								<img src="content/images/follow.png" alt="follow"/>
								<span class="footer-label">Follow</span>
							</button>
						{{ } }}
						{{ if (isAdmin) {  }}
							<button class="share-button" data-toggle="popover" title="Share:" data-placement="top" 
									data-content="<input class='share-link' type='text' value='{{ location.protocol+'//'+location.hostname+(location.port ? ':' + location.port : '') }}/discussion/show/{{= hash }}\'>">
								<img src="content/images/share.png" alt="share"/>
								<span class="footer-label">Share</span>
							</button>
						{{ } }}
						<button>
							{{ if (!totalComments ||	totalComments < 1) {  }}
								<img src="content/images/comment.png" alt="comment" /> 
								<span class="footer-label">Comment</span>
							{{ } else { }}
							<div class="dark-comment comment-button" data-total-comments="{{= totalComments }}">
								{{= totalComments }}</div>
								<span class="footer-label">Comment</span>
							{{ } }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
