<div class="edit-discussion-overlay">
		<div class="form-group">
			<textarea class="form-control" placeholder="New question or discussion topic?" type="text" id="name" name="name" rows="2">{{- name }}</textarea>
			<br>
			<textarea class="form-control" placeholder="Add description" type="text" id="description" name="message" rows="5">{{- description }}</textarea>
			<p class="share-chart-text"><small>Where do you want to publish this?</small></p>
			<div id="group-list-container" style="height: {{- height }}px"></div>
		</div>
		<button type="button" class="full-width-button submit-post">UPDATE</button>
	</div>
</div>
