<form id="userDetailsEdit">
	<div class="edit-people-detail">
		<div class="edit-image">
			<p>PROFILE PICTURE</p>
			{{ if (user.avatarURL == null) { }}
				<span class="fa-stack fa-2x">
					<i class="fa fa-circle fa-stack-2x grey-circle"></i>
					<i class="fa fa-user fa-stack-1x fa-inverse"></i>
				</span>
			{{ } else { }}
				<img src="{{- user.avatarURL }}" class="img-circle">
			{{ } }}
			<button type="button" class="choose-image">Choose Image</button>
		</div>
		<div class="edit-body">
			<div class="edit-name">
				<label class="edit-label">
					NAME
				</label>
				<div class="media">
					<div class="media-body">
						<input type="text" name="name" id= "user-name" value="{{- user.name }}"/>
						<div class="radio-public-private">
							<input type="radio" class="name-radio-public" name="namePrivacy" id="name-public-id" value="public" {{= user.isNamePublic ? 'checked' : '' }}>
							<label for="name-public-id" class="name-public-label">Public</label>
							<input type="radio" class="name-radio-private" name="namePrivacy" id="name-private-id" value="private" {{= !user.isNamePublic ? 'checked' : '' }}>
							<label for="name-private-id" class="name-private-label">Private</label>
						</div>
					</div>
				</div>
			</div>
			<div class="edit-bio">
				<label class="edit-label">
					BIO
				</label>
				<div class="media">
					<div class="media-body">
						{{ if (user.bio === "") { }}
							<textarea name="bio"></textarea>
						{{ } else { }}
							<textarea name="bio">{{- user.bio }}</textarea>
						{{ } }}
						<div class="radio-public-private">
							<input type="radio" class="bio-radio-public" name="bioPrivacy" id="bio-public-id" value="public" {{= user.isBioPublic ? 'checked' : '' }}>
							<label for="bio-public-id" class="bio-public-label">Public</label>
							<input type="radio" class="bio-radio-private" name="bioPrivacy" id="bio-private-id" value="private" {{= !user.isBioPublic ? 'checked' : '' }}>
							<label for="bio-private-id" class="bio-private-label">Private</label>
						</div>
					</div>
				</div>
			</div>
			<div class="edit-username">
				<label class="edit-label">
					USERNAME
				</label>
				<div class="media">
					<div class="media-body">
						<input type="text" name="username" value="{{- user.username }}"/>
					</div>
				</div>
			</div>

			<div class="edit-email">
				<label class="edit-label">
					EMAIL
				</label>
				<div class="media">
					<div class="media-body">
						<input type="text" name="email" value="{{- user.email }}"/>
					</div>
				</div>
			</div>
			<div class="edit-password">
				<label class="edit-label">
					OLD PASSWORD
				</label>
				<div class="media">
					<div class="media-body">
						<input type="password" name="oldPassword"/>
					</div>
				</div>
			</div>
			<div class="edit-password">
				<label class="edit-label">
					NEW PASSWORD
				</label>
				<div class="media">
					<div class="media-body">
						<input type="password" name="password"/>
					</div>
				</div>
			</div>

			<div class="edit-password">
				<label class="edit-label">
					VERIFY PASSWORD
				</label>
				<div class="media">
					<div class="media-body">
						<input type="password" name="verify_password"/>
					</div>
				</div>
			</div>
			<div class="edit-email-notifications">
				<label class="edit-label">
					EMAIL NOTIFICATION
				</label>
				<div class="media">
					<div class="media-body">
						<input type="radio" class="email-notifications-yes" name="notifyOnComments" id="email-notifications-yes" value="on" {{= user.notifyOnComments ? 'checked' : '' }}>
						<label for="email-notifications-yes" class="email-notifications-yes-label">Email me when someone comments</label> <br><br>
						<input type="radio" class="email-notifications-no" name="notifyOnComments" id="email-notifications-no" value="off" {{= !user.notifyOnComments ? 'checked' : '' }}>
						<label for="email-notifications-no" class="email-notifications-no-label">Don't email me when someone comments</label>
					</div>
				</div>
			</div>
			<div class="edit-external-accounts">
				<label class="edit-label" id="external-accounts">
					EXTERNAL ACCOUNTS
				</label>
				<div class="media">
					<div class="media-body">
						{{ if (user.linkedToWithings) { }}
							<p class="unlink-withings">Unlink Withings Account</p>
						{{ } else { }}
							<p class="link-withings">Link Withings Account</p>
						{{ } }}
						{{ if (user.linkedToOura) { }}
							<p class="unlink-oura">Unlink Oura Account</p>
						{{ } else { }}
							<p class="link-oura">Link Oura Account</p>
						{{ } }}
						{{ if (!user.linkedToMoves) { }}
							<p class="link-moves">Link Moves Account</p>
						{{ } else { }}
							<p class="unlink-moves">Unlink moves Account</p>
						{{ } }}
						{{ if (!user.linkedToJawbone) { }}
							<p class="link-jawbone">Link Jawbone UP Account</p>
						{{ } else { }}
							<p class="unlink-jawbone">Unlink Jawbone UP Account</p>
						{{ } }}
					</div>
				</div>
			</div>
			<div class="edit-interests">
				<label class="edit-label">
					PUBLIC INTEREST TAGS
				</label>
				<button type="button" class="btn btn-default new-tag">+ CREATE NEW TAG</button>
				<!-- Surface gets injected from the view. -->
			</div>
        </div>
	</div>
</form>
