<div class="footer container-fluid">
	<div class="row">
		<div data="TrackView" class="col-xs-3 footer-item track icon icon-track {{- (activeMenu === 'track') ? 'active': '' }}" id="{{- currentPage }}-track-menu">
		</div>
		<div data="ChartView" class="col-xs-3 footer-item chart icon icon-chart {{- (activeMenu === 'chart') ? 'active': '' }}" id="{{- currentPage }}-chart-menu">
		</div>
		<div data="FeedView" class="col-xs-3 footer-item feed icon icon-feed {{- (activeMenu === 'feed') ? 'active': '' }}" id="{{- currentPage }}-feed-menu">
			{{= App.getNotificationCount() ? '<span class="badge">' + App.getNotificationCount() + '</span>' : '' }}
		</div>
		<div data="SprintListView" class="col-xs-3 footer-item sprint icon icon-sprints {{- (activeMenu === 'sprint') ? 'active': '' }}" id="{{- currentPage }}-sprint-menu">
		</div>
	</div>
</div>
