<div class="footer container-fluid">
	<div class="row">
		<div class="col-xs-3">
			<a href="#" class="track">TRACK</a>
		</div>
		<div class="col-xs-3">
			<a href="#" class="community">COMMUNITY</a>
		</div>
		<!--<div class="col-xs-3">-->
			<!--<a href="#">SIGNALS</a>-->
			<!--</div>-->
	</div>
	<div class="row">
		<div class="col-xs-3">
			<div class="thumbnail">
				
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
