<div class="footer container-fluid">
	<div class="row">
		<div data="TrackView" class="col-xs-2 footer-item track icon icon-track {{- (activeMenu === 'track') ? 'active': '' }}" id="{{- currentPage }}-track-menu">
		</div>
		<div data="ChartView" class="col-xs-2 footer-item chart icon icon-chart {{- (activeMenu === 'chart') ? 'active': '' }}" id="{{- currentPage }}-chart-menu">
		</div>
		<div data="FeedView" class="col-xs-2 footer-item feed icon icon-feed {{- (activeMenu === 'feed') ? 'active': '' }}" id="{{- currentPage }}-feed-menu">
			{{= App.getNotificationCount() ? '<span class="badge">' + App.getNotificationCount() + '</span>' : '' }}
		</div>
		<div data="SprintListView" class="col-xs-2 footer-item sprint icon icon-sprints {{- (activeMenu === 'sprint') ? 'active': '' }}"
				data-placement="top" data-html="true" data-content="Ideas for activities to do with <br>We Are Curious!" id="{{- currentPage }}-sprint-menu">
		</div>
		<div data="CuriositiesListView" class="col-xs-2 footer-item curiosities icon icon-signals {{- (activeMenu === 'curiosities') ? 'active': '' }}" id="{{- currentPage }}-curiosities-menu">
		</div>
	</div>
</div>
