<div class="help-wizard exercise-questions">
	<h3 class="questions">Have you exercised today?</h3>
	<label for="cardio">
		CARDIO
	</label>
	<input type="text" class="exercise-details" name="entry.2" id="cardio" placeholder="e.g. running 45 minutes, zumba 60 min"> 
	<label for="resistance">
		RESISTANCE
	</label>
	<input type="text" class="exercise-details" name="entry.3" id="resistance" placeholder="e.g. weight lifting 2  hrs">
	<label for="stretch">
		STRETCH
	</label>
	<input type="text" class="exercise-details" name="entry.4" id="stretch" placeholder="e.g. 90 mins bikram yoga">
	<label for="metabolic">
		METABOLIC TRAINING
	</label>
	<input type="text" class="exercise-details" name="entry.5" id="metabolic" placeholder="e.g. crossfit 1 hour 15 min">
	<label class="back-label">
		Back
	</label>
	<button class="next-question" type="button">FINISH</button>
</div>
