<div class="help-wizard">
	<div class="range-box active">
		<h3 class="questions">How's your mood right now?</h3>
		<input type="range" id="mood-range" min="1" max="10" value="5"> 
		<label class="good-day">
			Oh dear,<br>what a day.
		</label> 
		<label class="calm-day">
			Pretty calm, even-keeled.
		</label> 
		<label class="super-day">
			Super stocked, cheerful frame of mind.
		</label>
		<h4 id="mood-entry-label"></h4>
		<input type="hidden" name="entry.1" id="mood-entry">
	</div>
	<label class="skip-label">
		Skip
	</label>
	<label class="back-label">
		Back
	</label>
	<button class="next-question" type="button">NEXT( 2 OF 3)</button>
</div>
