<div class="about-wrapper">
	<div class="header-login"></div>
	<br><br><br><br><br><br>
</div>

<img src="content/images/logo.gif" class="logo-img"/>

<div class="bottom-position-login">
	<div class="footer-wrapper-login">
		<div class="footer-login"></div> <br><br><br>
		<form role="form" class="form-footer-login" name="loginForm" method="post" onSubmit="return false;">
			<div class="form-group">
				<input type="text" class="form-control" name="username" placeholder="USER NAME">
			</div>
			<div class="input-group">
				<input type="password" class="form-control float-left" name="password" placeholder="PASSWORD">
				<span class="input-group-btn">
					<button type="submit" class="input-group btn submit">
						<i class="fa fa-arrow-circle-right fa-1x"></i>
					</button>
				</span>
			</div><br>
			<a href="#" class="other-links create-account">CREATE ACCOUNT</a><br> 
			<a href="#" class="other-links forgot-password">FORGOT INFO ?</a>
		</form>
	<br>
	</div>
</div>