<div class="help-container draggable-container">
	<div class="header-bar">
		Make a Repeat, Alert, or Bookmark
	</div>
	<div class="help-body">
		<div class="media">
			<div class="media-left pull-left">
				<div class="bullets">1</div>
			</div>
			<div class="media-body">
				You can create a repeating tag or an alert tag just as you would in any calendar.
			</div>
		</div>
		<div class="media">
			<div class="media-left pull-left">
				<div class="bullets">2</div>
			</div>
			<div class="media-body">
				If you create a repeat tag, you can set it to confirm each day. This means that you will need to click on the repeat tag for it to be logged as tracked.
			</div>
		</div>
		<div class="media">
			<div class="media-left pull-left">
				<div class="bullets">3</div>
			</div>
			<div class="media-body">
				You can also make a tag bookmark. <b>What is the point of a tag bookmark? Simply, to reduce steps in tracking.</b> 
				Bookmarks are placed in the dock above your tracking tags. A bookmark can be pushed 0 to N times per day.
			</div>
		</div>
		<br><br>
		<img src="content/images/help/make-repeat-alert.png" alt="Enter Tags" width="280px">
		<br><br><br>
		FORMAT:<br>
		[tag][amount*][unit*][timestamp*][(comment)*][repeat remind bookmark]<br>
		*optional<br><br>
		sleep 8.5 hours 7am <br>liothyronine 25 mcg repeat <br>caffeine 8 oz (egads) bookmark <br>cardio 15 minutes 5 intensity 2pm 
		<br>crossfit 90 minutes (trainer: scott smith)<br>low dose naltrexone 1.5 mg repeat<br>
		meeting with joe 8am remind<br>supplements 8:30am remind<br>
		paleo diet start
	</div>
</div>
