<div class="help-container draggable-container">
	<div class="header-bar">
		Make a Chart
	</div>
	<div class="help-body">
		<div class="media">
			<div class="media-left pull-left">
				<div class="bullets">1</div>
			</div>
			<div class="media-body">
				Choose the tags you want to chart and the type of chart you'd like to see. Single tapping line or area chart will take you to the chart page.
			</div>
		</div>
		<div class="media">
			<div class="media-left pull-left">
				<div class="bullets">2</div>
			</div>
			<div class="media-body">
				Adjust the dates with the "< >" or calendar tool. To eliminate a tag from the chart, tap the "x" button.
			</div>
		</div>
		<div class="text-center">
			<br><br>
			<img src="content/images/help/choose-tags-to-chart.png" alt="Enter Tags" width="250px">
			<br><br><br><br>
			<img src="content/images/help/chart-edit.png" alt="Tag Modifiers" width="250px">
		</div>
	</div>
</div>
