<div class="help-container draggable-container">
	<div class="header-bar">
		Manage Curiosities
	</div>
	<div class="help-body">
		<div class="media">
			<div class="media-left pull-left">
				<div class="bullets">1</div>
			</div>
			<div class="media-body">
				Curiosity relationships can be proportional, inversely proportional or triggers.
			</div>
		</div>
		<div class="media">
			<div class="media-left pull-left">
				<div class="bullets">2</div>
			</div>
			<div class="media-body">
				Curiosities are potential relationships between tags. As you accumulate data, Curiosities have the potential to
				identify interesting and unexpected data correlations in your daily self-tracking.
			</div>
		</div>
		<div class="media">
			<div class="media-left pull-left">
				<div class="bullets">3</div>
			</div>
			<div class="media-body">
				You can help Curious better understand relationships by indicating the strength of the correlations here.
			</div>
		</div>
		<div class="text-center">
			<br><br>
			<img src="content/images/help/manage_curiosities.png" alt="Manage curiosities" width="250px">
			<br><br>
		</div>
	</div>
</div>
