<div class="people-wrapper">
	<div class="user-details-header">
		<a href="#">
			<i class="fa fa-user"></i>
			<img class="avatar img-circle" src="{{= avatarURL ? avatarURL : 'content/images/avatar.png' }}" alt="avatar">
			<span class="user-name">{{= name || username }}</span>
		</a>
		{{ if (followed) { }}
		<button class="unfollow">UNFOLLOW</button>
		{{ } else { }}
		<button class="follow">FOLLOW</button>
		{{ } }}
	</div>
	<div class="user-details-content">
		<span>Interest Tags:</span>
		<span class="label-value">{{= (interestTagsString == '') ? 'No Tags' : interestTagsString }}</span>
	</div>
	<!--<div class="user-details-content">
		<span>Public Sprints:</span>
		<span class="label-value">
			&lt;!&ndash; Using an empty list and keeping the code for now. Can be removed if user's sprints “user.sprints”
				 are not going to be used in the future. &ndash;&gt;
			{{ _.each([], function(sprint, index) { }}
				{{= sprint.name }}
				{{ if (index < sprints.length - 1) { print(', '); } }}
			{{ }) }}
		</span>
	</div>-->
	<div class="user-details-content">
		<span>Start Date:</span>
		<span class="label-value">{{= created }}</span>
	</div>
</div>
