<div class="people-wrapper">
	<div class="user-details-header">
		<a href="#">
			<i class="fa fa-circle"></i>
			<span class="user-name">{{= name || username }}</span>
		</a>
		<button class="follow">FOLLOW</button>
	</div>
	<div class="user-details-content">
		<span>Interest Tags:</span>
		<span class="label-value">{{= interestTags.join(", ") }}</span>
	</div>
	<div class="user-details-content">
		<span>Public Sprints:</span>
		<span class="label-value">
			{{ _.each(sprints, function(sprint, index) { }}
				{{= sprint.name }}
				{{ if (index < sprints.length - 1) { print(', '); } }}
			{{ }) }}
		</span>
	</div>
	<div class="user-details-content">
		<span>Start Date:</span>
		<span class="label-value">{{= updated }}</span>
	</div>
</div>
