<div class="post-comment {{= postId ? '' : 'vertical-margins' }}">
	<form role="form" class="form-inline comment-form" name="commentForm" onSubmit="return false;">
		<div class="media">
			<div class="media-left">
				{{ if (authorAvatarURL) { }}
					<img class="avatar img-circle" height="25" width="25" src="{{= authorAvatarURL }}" alt="avatar">
				{{ } else { }}
					<img class="avatar" height="25" width="25" src="content/images/avatar2.png" alt="avatar">
				{{ } }}
			</div>
			<div class="media-body">
				<textarea id="message" name="message" rows="1" data-comment-index="{{= commentIndex }}" 
						placeholder="Add Comment to this discussion..." data-post-id="{{= postId }}">{{= message }}</textarea>
			</div>
		</div>
	</form>
</div>
