<div class="post-comment {{= postId ? '' : 'vertical-margins' }}">
	<form role="form" class="form-inline comment-form" name="commentForm" onSubmit="return false;">
		<div class="media">
			<div class="media-left pull-left" id="add-comment-avatar">
				{{ if (authorAvatarURL) { }}
					<img class="avatar img-circle" height="25" width="25" src="{{= authorAvatarURL }}" alt="avatar">
				{{ } else { }}
					<img class="avatar" height="25" width="25" src="content/images/avatar2.png" alt="avatar">
				{{ } }}
			</div>
			<div class="media-body">
				<div class="input-group">
				<textarea id="message" name="message" rows="1" data-comment-index="{{= commentIndex }}" class="form-control" 
						placeholder="Add Comment..." data-post-id="{{= postId }}">{{= message }}</textarea>
					<span class="input-group-addon btn btn-default" id="post-comment-button">POST</span>
				</div>
			</div>
		</div>
	</form>
</div>
