<head>
<style type="text/css">

.form-footer{
    margin-left:38%;
}
.bottom-position-> .footer-wrapper-> .btn-success { background-color: red; } //button

.btn-success:hover { background-color: red; } //hover
</style>
</head>


<img src="content/images/logo.gif"" style="display: block; margin-left: auto;margin-right: auto; width:200px"/>

<div class="bottom-position">
    <div class="footer-wrapper">
        <br><br>
        <form role="form" class="form-footer">
        <p>Create a new account</p>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="EMAIL" style="width: 330px;"><br>
                <input type="text" class="form-control" placeholder="USER NAME" style="width: 330px;"><br>
        		<p>alphanumberic, plus at least one symbol (e.g. &,#,%)</p>
                <input type="password" class="form-control" placeholder="PASSWORD" style="width: 330px;"><br>
                <input type="password" class="form-control" placeholder="VERIFY PASSWORD" style="width: 330px; float: left;">
            </div><br><br>  
            <div class="row"> 
            	<div class="col-sm-2"> too weak </div>
            	<div class="col-sm-2"> kind of OK </div>
            	<div class="col-sm-2"> good job </div>  
            </div>
            <progress value="33" max="100" style="width:330px"></progress><br><br>
            <button type="submit" class="btn btn-success" style="width:130px">SUBMIT</button>
        </form><br><br>
    </div>
</div>