<div class="repeat-modifier">
	<form id="repeat-modifier-form">
		<div class="input-group date-picker-field">
			<span class="input-group-addon calander-addon"></span>
			<input class="choose-date-input" placeholder="Choose End Date">
			<span class="input-group-addon">(Optional)</span>
		</div>
		<div> 
			<span class="instructions">
				Set repeat frequency
			</span>
			<div class="repeat-frequency-radio-group">
				<input type="radio" id="daily" name="repeat-frequency" value="daily" checked />
				<label data-label="daily"><span class="radio-label-span"></span>Daily</label>
				<input type="radio" id="weekly" name="repeat-frequency" value="weekly" />
				<label data-label="weekly"><span class="radio-label-span"></span>Weekly</label>
				<input type="radio" id="monthly" name="repeat-frequency" value="monthly" />
				<label data-label="monthly"><span class="radio-label-span"></span>Monthly</label>
			</div>
		</div>
		<div>
			<span class="instructions">Confirm Each Repeat</span>
			<span class="entry-checkbox">
				<input type="checkbox" name="repeat" value="repeat" id="confirm-each-repeat">
				<label for="confirm-each-repeat"><span></span>Yes</label>
			</span>
		</div>
		<button type="button" class="full-width-button create-entry-button">CREATE ENTRY</button>
	</form>
</div>
