<div class="">
	<h4 class="share-chart-title">Title</h4>
	<p class="share-chart-text"><small>Please enter a title for this chart in the form of a question, as in: 'Does exercise affect my
		mood?'</small>
	</p>
	<input type="text" id="chart-title" name="chart-title" class="form-control" placeholder="Add Title">
	<h4 class="share-chart-group">Groups</h4>
	<p class="share-chart-text"><small>Where do you want to publish this?</small></p>
	<div id="group-list-container" style="height: {{- height }}px"></div>
	<button class="full-width-button" id="share-chart">SHARE</button>
</div>
