<div class="help-container draggable-container">
	<div class="header-bar">
		Share
	</div>
	<div class="help-body">
		<div class="media">
			<div class="media-left">
				<div class="bullets">1</div>
			</div>
			<div class="media-body">
				You can share charts, discussions and more. To share a chart, single tap the share button at the top right.
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<div class="bullets">2</div>
			</div>
			<div class="media-body">
				Tap the same icon in social to share discussions.
			</div>
		</div>
		<div class="text-center">
			<br><br>
			<img src="content/images/help/share-chart.png" alt="Enter Tags" width="300px">
			<br><br><br>
			<img src="content/images/help/share-discussion.png" alt="Tag Modifiers" width="290px">
		</div>
	</div>
</div>