<div class="feed-item">
	<div class="sprint">
		<div class="contents">
			<div class="row">
				<div class="col-xs-8">
				<img class="avatar" src="content/images/feed/trackathon-left.png" alt="avatar">
				</div>
				<div class="col-xs-4 align-right">
					<span class="sprint-card-participants">
						PARTICIPANTS({{- totalParticipants }})
					</span>
				</div>
			</div>
			<div>
				<a href="#">
					<span> {{- name }}</span>
				</a>
			</div>
			<div>
				<button class="sprint-card-button details">TRY IT</button>
				<button class="sprint-card-button activity">DISCUSS</button>
			</div>
		</div>
	</div>
</div>
