<div class="feed-item">
	<div class="sprint">
		<div class="contents">
			<div class="row">
				<div class="col-xs-8">
					<a href="#">
						<span> {{= name }}</span>
					</a>
				</div>
				<div class="col-xs-4 align-right">
					<span class="sprint-card-participants">
						PARTICIPANTS({{= totalParticipants }})
					</span>
				</div>
			</div>
			<div>
				<button class="sprint-card-button details">TRY THIS</button>
				<button class="sprint-card-button activity">ACTIVITY</button>
			</div>
		</div>
	</div>
</div>
