<div class="sprint-details draggable-container">
	<div class="title-div">
		<label class="sprint-default-label">
			TITLE
		</label>
		{{ if (!isFormView) { }}
		<div class="sprint-top">
			{{ if (sprint.hasMember) { }}
				<button id="leave-sprint" class="sprint-button">Unfollow</button>
				{{ if (sprint.hasStarted && !sprint.hasEnded) { }}
					<button id="stop-sprint" class="sprint-button prompted-action">Stop</button>
				{{ } else { }}
					<button id="start-sprint" class="prompted-action sprint-button">Start</button>
				{{ } }}
			{{ } else { }}
				<button id="join-sprint" class="sprint-button">Follow</button>
				<button id="start-sprint" class="prompted-action  sprint-button">Start</button>
			{{ } }}
			{{ if (sprint.hasAdmin) { }}
				<button id="delete-sprint" class="sprint-button">Delete</button>
			{{ } }}
		</div>
		{{ } }}
		{{ if (isFormView) { }}
			<input type="text" placeholder="Enter Trackathon Title..." id="sprint-title" value="{{- sprint.name }}"></input>
		{{ } else { }}
		<h2>
			{{- sprint.name }}
		</h2>
		{{ } }}
	</div>
	<div class="description-div">
		<label class="sprint-default-label">
			INSTRUCTIONS
		</label>
		{{ if (isFormView) { }}
		<textarea placeholder="Enter Trackathon Description..." rows="5" id="sprint-description"
				  value="{{= sprint.description }}">{{- sprint.description }}</textarea>
		{{ } else { }}
		<p>
			{{= linkify(sprint.description) }}
		</p>
		{{ } }}
	</div>
	<div class="tags-div">
		<label class="sprint-default-label">
			TAGS
		</label>
		{{ if (isFormView) { }}
		<div class="right-icons add-tags">
			<img src="content/images/plus-circle.png" alt="+">

			<p>ADD TAG</p>
		</div>
		{{ } }}
		<br>

		<div class="tags-wrapper">
			{{ if (entries.length == 0) { }}
			<p id="no-tags-added">No tags added yet.</p>
			{{ } }}

			{{ _.each(entries, function(entry) { }}
			<button>
				{{- entry.description }}
				{{ if (entry.comment.indexOf("repeat") > -1) { }}
					<i class="fa fa-repeat"></i>
				{{ } else if ((entry.comment.indexOf("pinned") > -1) || (entry.comment.indexOf("bookmark") > -1)) { }}
					<i class="fa fa-bookmark"></i>
				{{ } else if (entry.comment.indexOf("remind") > -1) { }}
					<i class="fa fa-bell"></i>
				{{ } }}
			</button>
			{{ }); }}
		</div>
	</div>

	<div class="participants-div">
		<label class="sprint-default-label">
			PARTICIPANTS ({{- totalParticipants }})
		</label>
		{{ if (isFormView) { }}
		<div class="right-icons add-participants">
			<img src="content/images/plus-circle.png" alt="+">

			<p>INVITE</p>
		</div>
		{{ } }}
		<div class="participants-wrapper">
			<p id="sprint-participants">
				{{ _.each(participants, function(participant) { }}
				{{- participant.name || participant.username }}
				<br>
				{{ }); }}
			</p>
			{{ if (totalParticipants > 10) { print('<h5 id="more-participants">See All Participants</h5>'); } }}
		</div>
	</div>
	{{ if (isFormView) { }}
		<div class="disable-button-option">
			{{ if (typeof sprint.disableComments === 'undefined' || !sprint.disableComments) { }}
			<input type="checkbox" name="disable-comments" value="disable" id="disable-comments-checkbox">
			<label></label><p>Disable Comments</p>
			{{ } else { }}
			<input type="checkbox" name="disable-comments" value="disable" id="disable-comments-checkbox" checked>
			<label></label><p>Disable Comments</p>
			{{ } }}
		</div>
	{{ } }}
	{{ if (isFormView && isCreateForm) { }}
		<button class="full-width-button submit">
			Create Trackathon
		</button>
	{{ } else if (isFormView) { }}
		<button class="full-width-button submit">
			Update Trackathon
		</button>
	{{ } else { }}
		<button class="full-width-button activity">
			VIEW ALL ACTIVITY
		</button>
	{{ } }}
	<br><br>
</div>
