<div class="terms-of-service-container draggable-container">
	<div class="header-bar">
		Terms of Services and Privacy Policy
	</div>
	<div class="details-body">
		<p><strong>Effective November 30, 2015</strong>
		<p>By using this Site (“We Are Curious”), you agree to follow and be bound by the following Privacy Policy and the terms
			and conditions concerning your use of the Site ("We Are Curious"). We may modify or terminate our services from time
			to time, for any reason, and without notice. We reserve the right to modify the Privacy Policy and Terms of Service from
			time to time, for any reason, without notice. Please review the Privacy Policy and Terms of Service periodically so that
			you will be apprised of any changes.
		<p><h3>Privacy Policy</h3>
		<p>The data you generate, aggregate, track and compile with our service belong to you. We are providing a platform
			that enables these activities but we respect your ownership of your data, and will at no time expose, forward, share
			or sell your data with outside parties without your explicit consent. Conversely, we intend to provide mechanisms
			that simplify your ability to share your data at your choosing. You can download all of your data and/or delete your
			account at any time. If you wish to delete your account, please email a request to: <a href="mailto:content@wearcurio.us">content@wearcurio.us</a>.
		<p>We plan to construct multiple levels of privacy such that you can opt for, and navigate between, four profile settings:
			1) fully open sharing, with user name revealed (you set your username), 2) sharing only with specific groups and individuals
			you choose, 3) anonymous sharing (no username exposed) with the public or with specific groups and individuals,
			and 4) full privacy, no sharing. We suspect different users will want these levels of differential privacy depending on the
			topic or data. While we're not an entity subject to HIPAA, we plan to build privacy infrastructure that meets or exceeds
			these federal guidelines.
		<p>At the moment however, we are simply going to allow for full privacy and optional public sharing of data. We will
			update this Privacy Policy as we complete our research on the best way to implement open sharing, and we are happy
			to provide recommendations on the best ways for you to make your data open in the interim.
		<p>This Privacy Policy applies to Web sites and services that are operated by Curious, Inc. ("The Company"). Curious, Inc. is not
			responsible or liable for the content or the privacy policies of sites to which it may link.
		<p><strong>Your Life & Environment Information</strong>
		<p><ul>
		<li>Content in the form of tags (a word or set of words) describing things you’re interested in tracking, e.g. migraine headache, aspirin, pain level.</li>
		<li>Device and app data (e.g. Fitbit, Withings, Basis etc)</li>
		<li>Lab results that you enter.</li>
		<li>Genetic data</li>
		<li>Other biodata</li>
	</ul>
		<p><strong>Website Data Collection</strong>
		<p>In addition to the data you input into Curious, in order to provide our full range of services, we may collect the following
			types of information:
		<p><ul>
		<li>Information you provide by filling in forms on our website - When you become a registered user, we ask you for personal
			information (such as your name, email address and an account password).</li>
		<li>Cookies - When you visit Curious, Inc., we may send one or more cookies - a small file containing a string of
			characters - to your computer that uniquely identifies your browser. We use cookies to improve the quality of our
			service by storing user preferences and tracking user trends, such as how people search. Most browsers are initially
			set up to accept cookies, but you can reset your browser to refuse all cookies or to indicate when a cookie is being sent.
			However, most features and services of Curious, Inc. will not function properly if your cookies are disabled.</li>
		<li>Log information - Our servers automatically record information that your browser sends whenever you visit a website.
			These server logs may include information such as your web request, Internet Protocol address, browser type, browser
			language, the date and time of your request and one or more cookies that may uniquely identify your browser. We reserve
			the right to store and use this information for research purposes, to improve the functionality of our services,
			develop new services, and more. We also reserve the right to delete this information at any time.</li>
		<li>User communications - When you send email or other communication to Curious, Inc., we may retain those communications
			in order to process your inquiries, respond to your requests and improve our services.</li>
		<li>Embedded URLs - In order to provide maximum site utility, Curious, Inc. may also use a tracking technique that uses
			embedded URLs to allow use of the Site without cookies. Embedded URLs manifest themselves as plain text or encoded
			extensions to the URL that appears in the browser address or location toolbar. This technology allows limited
			information to follow you as you navigate the Site, but does not reveal personal data and is not used beyond
			the session. While this increases your ability to surf the Site, it does not replace the functionality or streamlining
			of cookies and may limit your use of many convenience features offered by the Site.</li>
	</ul>
		<p><strong>Information Use</strong>
		<p>We use information we collect for the following purposes:
		<p><ul>
		<li>Auditing, research and analysis in order to maintain, protect and improve our services</li>
		<li>Providing our services to users, including the display of customized content</li>
		<li>Ensuring the technical functioning of our network</li>
	</ul>
		<p><strong>Information Sharing</strong>
		<p>Curious, Inc. may use analytics services provided by third parties. These services can use cookies to help the
			website analyze how users use the Site. The information generated by the cookie about your use of the website
			(including your IP address) may be transmitted to and stored by third parties, who may use this information for the
			purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing
			other services relating to website activity and internet usage. Analytics service providers may also transfer this
			information to third parties where required to do so by law, or where such third parties process the information on
			the services' behalf. You may refuse the use of cookies by selecting the appropriate settings on your browser,
			however please note that if you do this you will not be able to use the functionality of this website. By using
			this website, you consent to the processing of data about you in the manner and for the purposes set out above.
		<p><strong>Data Security</strong>
		<p>To prevent unauthorized access, maintain data accuracy, and ensure the appropriate use of information, we
			have put in place appropriate physical, electronic, and managerial procedures to protect the information we
			collect online.
		<p><strong>Where we store your Data</strong>
		<p>The data that we collect from you may be transferred to, and stored at, cloud-based services whose physical
			locations may be unknown to Curious, Inc. It may also be processed by staff who work for us or for one of our
			suppliers. Such staff may be engaged in, among other things, the fulfillment of your order and the provision
			of support services. By submitting your personal data, you agree to this
			transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated
			securely and in accordance with this Privacy Policy.
		<p><strong>Disclaimer</strong>
		<p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will
			do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our website;
			any transmission is at your own risk. Once we have received your information, we will use strict procedures and
			security features to try to prevent unauthorized access.
		<p><h3>Terms of Service</h3>
		<p><strong>Use of Web Site Information</strong>
		<p>You may download, view, copy, distribute, make derivative works, and otherwise use documents and graphics
			from our website and related documents (the "Documents") from the Site under the <a href="http://creativecommons.org/licenses/by/3.0/deed.en_GB">Creative Commons Attribution
				3.0 Unported (“CC BY 3.0”) license</a>. Curious, Inc. reserves the right to move to more recent versions of the CC
			BY license as they become available. Attribution should be made to Curious, Inc. including a link to the front
			page of the website at <a href="http://www.wearecurio.us/">www.wearecurio.us</a>.
		<p><strong>Use of Web Site Data</strong>
		<p>Use of data uploaded by individual users is regulated by the level of privacy selected by the user. Each
			data set carries information indicating rights to use any data uploaded by users of Curious, Inc.
			software and websites. You must take proper steps to comply with privacy settings associated with any data
			available through Curious, Inc. as defined in the Privacy Policy. Curious, Inc. makes no claims about the
			intellectual property status of individual data itself, but notes that raw data is typically not subject to
			either copyright or to patents.
		<p><strong>Use of Software</strong>
		<p>Any software that is made available to download from the Site ("Software") is the copyrighted work of
			Curious, Inc. and/or its collaborators. Use of the Software is governed by the terms of the Software
			Distribution Agreement which accompanies or is included with the Software ("License Agreement"), or as
			expressly stated on the website pages accompanying the software. The Software is made available for download
			solely for use by end users according to the License Agreement. Absent a License Agreement that accompanies
			the Software, use of the Software will be governed by the Terms of Service.
		<p><strong>Use of Documents and Publications on the Site</strong>
		<p>The Curious, Inc. website may contain copies of documents other than the website information and data,
			including but not limited to scientific publications, presentations, posters, and more. Except as expressly
			prohibited on the documents themselves, you are permitted to view, copy, print and distribute publications
			and documents within this Site, subject to your agreement that:
		<p><ul>
		<li>Your use of the information is for informational, personal, and non-commercial purposes only;
		<li>You will display the copyright notice and other proprietary notices pertaining to the individual sources
			if you redistribute or use them.
	</ul>
		<p><strong>Submissions</strong>
		<p>To make a submission of any copyrighted material to the Site you must either be the copyright owner or
			have the explicit permission of the copyright owner to do so. We will not be responsible, or liable to any
			third party, for the content or accuracy of any materials posted by you or any other user of our website. For
			data, you must either be the person about whom the data is gathered and concerns or have been provided
			sufficient permissions by that person (up to and including informed consent under HIPAA, the Common Rule,
			or other relevant national privacy legislation regarding health data) to enable you to post and share
			the data.
		<p><strong>Passwords and Security</strong>
		<p>You are responsible for maintaining the confidentiality of any password(s) you are given to access the
			Site, and are fully responsible for all activities that occur under your password(s). You agree to notify
			Curious, Inc. immediately of any unauthorized use of your password(s). Curious, Inc. is concerned about the
			security of personal information we have collected from you and has taken reasonable steps to prevent
			unauthorized access to that information. If you choose, or you are provided with, a user identification
			code, password or any other piece of information as part of our security procedures, you must treat such
			information as confidential, and you must not disclose it to any third party. We have the right to disable
			any user identification code or password, whether chosen by you or allocated by us, at any time, if in
			our opinion you have failed to comply with any of the provisions of these Terms of Service.
		<p><strong>Termination of Use</strong>
		<p>You agree that Curious, Inc. may terminate or suspend your access to the Site and any account(s)
			for Cause, wherein Cause shall mean (1) misconduct by the user of the Curious, Inc. website, (2)
			material breach of any provision of the Terms of Service, if such breach is susceptible to cure, such
			breach is not cured within 10 days of notice to the user, and (3) fraud or any other illegal or
			wrongful conduct by the user. In the event of terminating a user account, the user will receive notice
			stating the reasons for the termination or suspension. Access to the Site may be monitored by Curious, Inc.
			for research purposes as well as to enforce provisions of the Terms of Service.
		<p><strong>Third Party Web Sites, Content, Products and Services</strong>
		<p>The Site provides links to Websites and access to content, products and services from third parties,
			including users, advertisers, affiliates and sponsors of the Site. You agree that Curious, Inc.
			is not responsible for the availability of, and content provided on, third party Websites. You should
			refer to the policies posted by other Websites regarding privacy and other topics before you use them.
			You agree that Curious, Inc. is not responsible for third party content accessible through the Site,
			including opinions, advice, statements and advertisements, and understand that you bear all risks
			associated with the use of such content. If you choose to purchase any products or services from a
			third party, your relationship is directly with the third party. You agree that Curious, Inc.
			is not responsible for:
		<p><ul>
		<li>The quality of third party products or services;
		<li>Fulfilling any of the terms of your agreement with the seller, including delivery of products
			or services and warranty obligations related to purchased products or services.
	</ul>
		<p>You agree that Curious, Inc. is not responsible for any loss or damage of any sort you may incur
			from dealing with any third party.
		<p><strong>Copyright/Database Notice and Take-down Policy</strong>
		<p>It is the policy of Curious, Inc. to respond to all notices of alleged copyright or database
			rights infringement. Curious, Inc. is not responsible for content on other websites that users might query
			or otherwise discover while using Curious, Inc. websites and other online properties.
		<p>This notice describes the information that must be provided in notices alleging copyright or database
			rights infringement found specifically on Curious, Inc. websites and other online properties. The goal of the
			policy is to make alleged infringement notices to Curious, Inc. as straightforward as possible, both
			for the alleging party and for the Company to review.
		<p>Curious, Inc., at its sole discretion, reserves the right to disable user accounts of Curious, Inc. websites
			and other online properties that may infringe upon the copyrights, database rights, or other intellectual
			property rights of Curious, Inc. and/or others.
		<p>In response to notices of alleged copyright or database rights infringement, Curious, Inc. reserves the
			right to remove the content (including but not limited to data, publications, documents, and graphics) claimed
			to be a copyright, database rights, privacy, or trade secrets infringement. If Curious, Inc. removes or disables
			content in this way, we will attempt to contact the responsible user(s) and notify them of the decision to remove.
			Users will have the opportunity to respond as detailed below.
		<p>To file a notice of an alleged copyright, database rights, privacy, or trade secrets infringement with us,
			you are required to provide a written communication only by email to <a href="mailto:content@wearecurio.us">content@wearecurio.us</a>.
			Please be advised that you may be liable for damages (including costs and attorney fees) if you materially
			misrepresent that a product or activity is infringing upon your copyright, database rights, privacy, or trade secrets.
		<p><strong>Infringement Claims</strong>
		<p>To file a notification of claimed infringement, you will need to send a written communication that includes
			substantially all of the information listed below. (Please consult your legal counsel to confirm these requirements):
		<p><ol>
		<li>A physical or electronic signature of a person authorized to act on behalf of the owner ("authorized person") of
			an exclusive right that is allegedly infringed.
		<li>Identification of the work claimed to have been infringed, or, if multiple works are covered by a single notification,
			a representative list of such works.
		<li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity
			and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit
			the Consortium to locate the material. Providing URLs in the body of your written communication is the best way
			to help us locate the content quickly.
		<li>Information reasonably sufficient to permit the Company to contact the authorized person, such as an address,
			telephone number, and, if available, an electronic mail address.
		<li>A statement that the authorized person has a good faith belief that use of the material in the manner complained of
			is not authorized by the copyright owner, its agent, or the law.
		<li>A statement that the information in the notification is accurate, and under penalty of perjury, that the authorized
			person is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
	</ol>
		<p>Such written notification should be sent to our designated agent via email.
		<p><strong>Counter-Notification Policy</strong>
		<p>When the Company receives a takedown notification of alleged infringement, the Company removes the material
			that is the subject of the notification. If the Company removes materials that you have uploaded onto the Company
			website or other online properties, the Company will attempt to contact you about it.
		<p>If you believe your content was removed as a result of mistake or misidentification, you may submit a
			Counter-Notification that includes substantially all of the information listed below.
		<p><ol>
		<li>Your name, address, telephone number and physical or electronic signature;
		<li>Identification of the material and its location before removal;
		<li>A statement under penalty of perjury that the material was removed by mistake or misidentification; and
		<li>A statement that you will accept service of process from the person who provided notification of claimed infringement.
	</ol>
		<p>Such written notification should be sent to our designated agent via email.
		<p>Upon receipt of a Counter-Notification containing the information as outlined in 1 through 4 above:
		<p><ul>
		<li>Curious, Inc. shall promptly provide the Complaining Party with a copy of the Counter-Notification;
		<li>Curious, Inc. shall inform the Complaining Party that it will replace the removed material or cease disabling access to it within ten (10) business days;
		<li>Curious, Inc. shall replace the removed material or cease disabling access to the material within ten (10) to fourteen (14) business days following receipt of the Counter-Notification, provided Curious, Inc.’s Designated Agent has not received notice from the Complaining Party that an action has been filed seeking a court order to restrain Subscriber from engaging in infringing activity relating to the material on Curious, Inc.'s system.
	</ul>
		<p>Finally, Notices and Counter-Notices with respect to this website must meet all relevant statutory requirements in
			force at the time of their submission and imposed by relevant legislation.
		<p><strong>Disclosure</strong>
		<p>Please note that in addition to being forwarded to the person who provided the allegedly infringing content,
			a copy of this legal notice (with your personal information removed) may be published.
		<p>A link to your published letter may be displayed in place of the removed content.
		<p><strong>Medical/Clinical Use Disclaimer</strong>
		<p>Materials on this Site have not necessarily been reviewed or approved by relevant clinical authorities.
		<p>All materials on this Site are provided for informational and review purposes. It is not intended to and
			does not in any way substitute for professional medical advice.
		<p>The materials should not be relied upon for medical diagnosis or treatment, nor should you disregard the
			advice of your physical or other health care provider or delay seeking such advice due to anything you have
			read on or accessed through the Site. Curious, Inc. assumes no responsibility for any injury and/or damage
			to person(s) or property as a matter of products and/or services liability, negligence or otherwise, or
			from any use or operation of any methods, products, service, instruction or ideas contained in the
			material provided by the Site.
		<p><strong>Disclaimer</strong>
		<p>Except where expressly provided otherwise, the Site, and all content, materials, information, software,
			products and services provided on the Site, are provided on an "as is" and "as available" basis. Curious Inc.
			expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to,
			the implied warranties of merchantability, fitness for a particular purpose and non-infringement.
			Curious Inc. makes no warranty that:
		<p><ul>
		<li>The Site will meet your requirements;
		<li>The Site will be available on an uninterrupted, timely, secure, or error-free basis (though we will
			undertake best-efforts to ensure continual uptime and availability of its data content);
		<li>The results that may be obtained from the use of the Site or any services offered through the Site
			will be accurate or reliable;
		<li>The quality of any products, services, information, or other material purchased or obtained by you
			through the Site will meet your expectations.
	</ul>
		<p>Any content, materials, information or software downloaded or otherwise obtained through the use of
			the Site is done at your own discretion and risk. Curious Inc. shall have no responsibility for any damage
			to your computer system or loss of data that results from the download of any content, materials, information
			or software. Curious Inc. reserves the right to make changes or updates to the Site at any time without notice.
		<p><strong>Limitation of Liability</strong>
		<p>In no event shall Curious Inc. be liable for any direct, indirect, incidental, special or consequential
			damages, or damages for loss of profits, revenue, business, goodwill, data or use, incurred by you or any
			third party, whether in an action in contract or tort (including negligence), arising from your access to,
			or use of, the Site. Some jurisdictions do not allow the limitation or exclusion of liability. Accordingly,
			some of the above limitations may not apply to you.
		<p><strong>Indemnity</strong>
		<p>You agree to defend, indemnify and hold harmless Curious, Inc., its staff and associates, from and against
			any and all claims, liabilities, damages, losses or expenses, including reasonable attorneys' fees and costs,
			arising out of or in any way connected with your access to or use of the Site.
		<p><strong>Viruses, Hacking and Other Offenses</strong>
		<p>You must not misuse our website by knowingly introducing viruses, trojans, worms, logic bombs or other material
			that is malicious or technologically harmful. You must not attempt to gain unauthorized access to our website,
			the server on which our website is stored or any server, computer or database connected to our website. You must
			not attack our website via a denial-of-service attack or a distributed denial-of service attack.
		<p>By breaching this provision, you would commit a criminal offence under the legislation in some countries.
			We will report any such breach to the relevant law enforcement authorities and we will co-operate with those
			authorities by disclosing your identity to them. In the event of such a breach, your right to use our website
			will cease immediately.
		<p>We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or
			other technologically harmful material that may infect your computer equipment, computer programs, data or
			other proprietary material due to your use of our website or to your downloading of any material posted on it,
			or on any website linked to it.
		<p><strong>Linking to our Site</strong>
		<p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage
			our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any
			form of association, approval or endorsement on our part where none exists.
		<p>You must not establish a link from any website that is not owned by you.
		<p>Our website must not be framed on any other site without our express permission.
		<p><strong>Links from our Site</strong>
		<p>Where our website contains links to other sites and resources provided by third parties, these links
			are provided for your information only. We have no control over the contents of those sites or resources,
			and accept no responsibility for them or for any loss or damage that may arise from your use of them.
		<p><strong>Jurisdiction and Applicable Law</strong>
		<p>Delaware courts will have exclusive jurisdiction over any claim arising from, or related to, a visit
			to our website [although we retain the right to bring proceedings against you for breach of these conditions
			in your country of residence or any other relevant country].
		<p>These Terms of Service and any dispute or claim arising out of or in connection with them or their
			subject matter or formation (including non-contractual disputes or claims) shall be governed by and
			construed in accordance with the law of Delaware.
		<p><strong>Variations</strong>
		<p>We may revise the Privacy Policy or Terms of Service at any time by amending the
			<a href="/home/termsofservice">Privacy Policy and Terms of Service</a> page. You are expected to check
			the page from time to time to take notice of any changes we made. Some of the provisions contained in
			the Privacy Policy and Terms of Service may also be superseded by provisions or notices published elsewhere on our website.
		<p><strong>Your Concerns</strong>
		<p>If you have any concerns or questions about the Privacy Policy and Terms of Service or about any material that appears on our website, please email us at: <a href="mailto:content@wearecurio.us">content@wearecurio.us</a>.
	</div>
</div>
