<div class="profile-detail user-profile draggable-container">
	<div class="upper-body">
		<h1>PROFILE</h1>
		<button class="edit-button">EDIT</button>
		{{ if (user.avatarURL == null) { }}
			<i class="fa fa-circle fa-4x"></i>
		{{ } else { }}
			<img src="{{- user.avatarURL }}" class="img-circle">
		{{ } }}
		<h2>{{- user.username }}</h2>
		<p>{{- user.description }}</p>
	</div>
	<div class="lower-body">
		<div class="public-email">
			<label class="user-email-label profile-people-label">
				EMAIL
			</label>
			<div class="media">
				<div class="media-body">
						<p> {{- user.email }}</p>
				</div>
			</div>
		</div>

		<div class="public-bio">
			<label class="profile-people-label">
				BIO
			</label>
			<div class="media">
				<div class="media-body">
					{{ if (user.bio === "") { }}
						<p>This user has not provided any bio.</p>
					{{ } else { }}
						<p> {{= linkify(user.bio) }}</p>
					{{ } }}
				</div>
			</div>
		</div>

		<div class="public-username">
			<label class="profile-people-label">
				USERNAME
			</label>
			<div class="media">
				<div class="media-body">
					<p> {{- user.username }}</p>
				</div>
			</div>
		</div>

		<div class="public-interests">
			<label class="profile-people-label">
				PUBLIC INTEREST TAGS
			</label>
			<div class="media">
				{{ if (user.interestTags.length == 0) { }}
					<div class="media-body">
						<p>No Tags</p>
					</div>
				{{ } else { }}
					<div class="media-body" id="public-interest-tags">
						{{ _.each(user.interestTags, function(interestTags) { }}
							<p> {{- interestTags }}</p><br>
						{{ }) }}
					</div>
				{{ } }}
			</div>
		</div>
		<div class="resend-email-link">
			<label class="profile-people-label">
				ACCOUNT VERIFICATION
			</label>
			<div class="media">
				<div class="media-body">
					<p class="email-link">
						Resend verification email
					</p>
				</div>
			</div>
		</div>
		<div class="devices">
			<label class="profile-people-label">
				DEVICES
			</label>
			<div class="media">
				<div class="media-body" id="device-list">
					<div class="media">
						<div class="media-body">
							{{ if (user.linkedToWithings) { }}
								<p class="unlink-withings">
									Unlink Withings Account
								</p><br>
							{{ } else { }}
							<p class="link-withings">Link Withings Account</p><br>
							{{ } }}
							{{ if (user.linkedToOura) { }}
							<p class="unlink-oura">Unlink Oura Account</p><br>
							{{ } else { }}
							<p class="link-oura">Link Oura Account</p><br>
							{{ } }}
							{{ if (!user.linkedToMoves) { }}
							<p class="link-moves">Link Moves Account</p><br>
							{{ } else { }}
							<p class="unlink-moves">Unlink Moves Account</p><br>
							{{ } }}
							{{ if (!user.linkedToJawbone) { }}
							<p class="link-jawbone">Link Jawbone UP Account</p><br>
							{{ } else { }}
							<p class="unlink-jawbone">Unlink Jawbone UP Account</p><br>
							{{ } }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
