<div class="date-header-wrapper">
	<a class="date-picker-year" id="year-prev">
		<i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>
	</a>
	<a class="date-picker-month" id="month-prev">
		<i class="fa fa-chevron-left"></i>
	</a>
	<span class="date-picker-text"> {{= month.substring(0, 3) + ' ' + year }} </span>
	<a class="date-picker-month" id="month-next" href="#">
		<i class="fa fa-chevron-right"></i>
	</a>
	<a class="date-picker-year" id="year-next">
		<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
	</a>
</div>
